section.showcase>.text>h1,
section.showcase>.text>h2,
section.showcase>header>.logo {
    text-transform:lowercase;
}

section.showcase>header>.toggle {
    width: 60px;
    height: 60px;
    background: url('./menu-fill.svg');
    background-repeat: no-repeat;
    background-position: center;
}